.header{background-color: #000;}

.header-inner{
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 50px;
}

.logo{
	font-size: 44px;
	color: #fff;
}

.menu {
   display: flex;
}

.menu li{
	margin: 0 10px;
}