.block-nikoweb{
   padding-top: 50px;
}
.block-nikoweb .carousel-control-prev-icon{
  background-image: url(img/icons/two-left-arrows.svg)
}

.block-nikoweb .carousel-control-next-icon{
  background-image: url(img/icons/fast-forward.svg)
}

