*{
	margin:0;
	padding: 0;
	outline: none;
}

body, html{
	width: 100%;
	height: 100%;
	color: #fff;
}

body{
	font-family: Trebuchet MS, Helvetica;
}


.header{
	width: 100%;
	margin-bottom: 15px;
}
.inner-header{
	height: 200px;
	background-color: #000;
}

.content{
	width: 60%;
	margin-bottom: 15px;
}
.inner-content{
	min-height: 500px;
	background-color: #000;
}

.main{display: flex;}

.sidebar{
	width: 40%;
	margin-bottom: 15px;
}
.inner-sidebar{
	margin-left: 15px;
	min-height: 500px;
	background-color: #000;
}

.footer{
	width: 100%;
}
.inner-footer{
	min-height: 200px;
	background-color: #000;
}


//Media запросы
@media(max-width: 1200px){

}

@media(max-width: 1000px){
	
}

@media(max-width: 768px){
	.content{
	width: 100%;
	margin-bottom: 15px;
    }
	.sidebar{
	width: 100%;
	margin-bottom: 15px;
    }    
    .main{display: block;}
    .inner-sidebar{
	margin-left: 0;
	min-height: 500px;
	background-color: #000;
}    

}

@media(max-width: 480px){
	
}