*{
	margin: 0;
	padding: 0;
}

body, html{
	margin: 0;
	padding: 0;
	background-color: #c2c8c8;
	color: #fff;
	font-size: 14px;
}

li{list-style: none;}

a{
	color: #fff;
	text-decoration: none;
}

#wpapper{
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container{
	max-width: 1200px;
	margin: 0px auto;
    padding: 0px 15px;
}