@charset "UTF-8";
@font-face{

font-family: 'RobotoSlabBold';

src: url('../fonts/RobotoSlab/RobotoSlabBold.eot');

src: url('../fonts/RobotoSlab/RobotoSlabBold?iefix') format('eot'),

url('../fonts/RobotoSlab/RobotoSlabBold.woff') format('woff'),

url('../fonts/RobotoSlab/RobotoSlabBold.ttf') format('truetype');

font-weight: normal;

font-style: normal;
}
@font-face{

font-family: 'TTNorms-Bold';

src: url('../fonts/TTNormsBold/TTNorms-Bold.eot');

src: url('../fonts/TTNormsBold/TTNorms-Bold?iefix') format('eot'),

url('../fonts/TTNormsBold/TTNorms-Bold.woff') format('woff'),

url('../fonts/TTNormsBold/TTNorms-Bold.ttf') format('truetype');

font-weight: normal;

font-style: normal;}