@charset "UTF-8";

@font-face {
font-family: "Fontfabric MullerBlack";
src: url("../fonts/Fontfabric/Fontfabric_MullerBlack.otf") format("opentype");
}
@font-face {
font-family: "Fontfabric MullerMedium";
src: url("../fonts/Fontfabric/Fontfabric_MullerMedium.otf") format("opentype");
}




/*Header version*/
@media (max-width: 1200px){
.logo{padding-right: 60px;}
.nav>li>a{padding: 10px 5px;}
}

@media (min-width: 1200px){

}
@media (min-width: 991px){
.navbar-default {background-color: transparent !important; border-color: transparent;}
.navbar-fixed-top.scrolled {background-image: url('../img/slider/1.png') !important;transition: background-color 200ms linear;border-color: transparent;}
}
/*Planshet version*/
@media (max-width: 992px){

}


@media (min-width: 768px) and (max-width: 991px) {
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            /*margin: 7.5px -15px;*/
            margin: 7.5px 50px 7.5px -15px
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in { 
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
    }